﻿@using ActiveDatabaseSoftware.ActiveQueryBuilder.Web.Mvc.UI

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title @Resources.Resource.LayoutTitle</title>
    <link href="~/Content/parallax-slider/style-responsive.css" rel="stylesheet" />
    <script src="~/Scripts/respond.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

    <link href="~/Content/Workflow.css" rel="stylesheet" />

    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@

</head>
<body>


    <div class="navbar navbar-inverse navbar-fixed-top" id="tt">
        <div class="container">
            <div class="navbar-header ">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"> </span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AltexSoftLab", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(Resources.Resource.LayoutHome, "Index", "Home")</li>
                    <li><A ID="InstallButton" HREF="~/WPFapp/setup.exe">DOWNLOAD</A></TD><TD width="20"></li>
                    @*<li>@Html.ActionLink("Desktop version", "WPF", "Home")</li>*@
                    <li>@Html.ActionLink(Resources.Resource.LayoutAbout, "About", "Home")</li>
                    <li>@Html.ActionLink(Resources.Resource.LayoutContact, "Contact", "Home")</li>
                </ul>
               

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    @RenderBody()
    <div class="container body-content">


    </div>

    @Html.Partial("_FooterPartial")



    <script src="~/Scripts/jquery-ui-1.10.2.js"></script>

    <script src="~/Scripts/Workflow.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>

    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>


<script>
    function AjaxPostWithDialog2(url) {
        $.ajax({
            url: url,
            type: "POST",
            data: $('form').serialize(),
            datatype: "json",
            success: function (result) {
                $("#dialogContent").html(result);
            }
        });
    };


    function ModalPostDialogSend(selector, url) {
        $(selector).on("click", function (e) {
            e.preventDefault();
            $("<div id='dialogContent'></div>")
				.addClass("dialog")
				.appendTo("body")
				.load(this.href)
				.dialog({
				    title: $(this).attr("data-dialog-title"),
				    close: function () { $(this).remove() },
				    modal: true,
				    success: {
				        "": function () {
				            AjaxPostWithDialog2(url);
				        }
				    }
				}
				);
        });
    };

    $(document).ready(function () {
        ModalPostDialogSend("#LoginLink", '@Url.Action("Login", "Account")');
        ModalPostDialogSend("#registerLink", '@Url.Action("Register", "Account")');

    });
</script>
