﻿@model QueryBuilderMVC.Models.ProjectViewModel


@using (Html.BeginForm())
{

    @Html.ValidationSummary();
    <p class="TextField">@Resources.Resource.CreateProjectName @Html.TextBoxFor(x => x.Name) </p>
    <p class="TextField">@Resources.Resource.CreateProjectDescription @Html.TextBoxFor(x => x.Description)</p>
   
}


<script>
        $('.ui-dialog-buttonset button').addClass("ui-button ui-corner-all ui-widget button-modal");
        $('.ui-dialog-buttonset button').css('width', 70);
        $('.ui-dialog-buttonset button').css('height', 30);
</script>